@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .title {
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(131, 131, 131);
    line-height: 1.7;
  }
}

/* @layer utilities {
  .text-shadow {
    text-shadow: 12px 8px 1px rgba(0, 0, 0, 0.308);
  }
} */