/* .container {
  padding: 0 2rem;
}

.  {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;#059ff8,#096dd9
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */

.wrapper {
  background-color: #fafafa;

  /* shadow #1890ff */
}

.pagination {
  display: flex;
  justify-content: center;
}

.title {
  font-weight: 600;
  letter-spacing: 2px;
  color: rgba(153, 153, 153, 0.8);
  line-height: 1.7;
}

.values {
  font-weight: 700;
}
.card {
  border-color: #e0e5ed;
  font-size: 14px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.card:hover {
  box-shadow: 2px 2px 20px #b4b4b4;
  border-color: #1890ff;
}

.cardId {
  font-weight: 700;
  padding-right: 1rem;
}

.cardName {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  cursor: pointer;
  color: #096dd9;
}

/* color hover cardName #8db6da */
/* color colorName #096dd9 */

.cardName:hover {
  color: #8db6da;
}

/* .cardName:hover::after {
  position: absolute;
  content: '';
  display: block;
  height: 5%;
  width: 100%;
  background-color: #1890ff;
} */
.cardFooter {
  margin-top: 1rem;
  border-top: 1px solid #bdbdbd;
}
.cardFooterName {
  color: #000000;
}

/* SLUG */
.slugContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-bottom: 2rem;
  width: 100%;
}

.slugHeaderContainer {
  padding-top: 50px;
  background-color: #fff;
  margin-bottom: 1rem;
}

.slugHeader {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 75rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.slugPreviousInfo {
  display: flex;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  justify-content: space-between;
  box-shadow: 0 0.4375rem 1.6875rem 0.1875rem rgba(31, 105, 179, 0.05);
}

@media screen and (max-width: 804px) {
  .slugPreviousInfo {
    flex-wrap: wrap;
  }
}

.slugPreviousInfoItem {
  background-color: #fff;
  border: 0.0625rem solid #eaf0f6;
  padding: 1.5625rem 3.125rem;
  width: 100%;
}

.sup {
  display: inline-block;
  font-size: 0.7rem;
  background-color: #e0f6ff;
  border-radius: 10px;
  padding: 5px;
  margin-left: 0.5rem;
  color: #494949;
}

.slugCompanyId {
  margin-right: 1rem;
}

.itemInfo {
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 1rem;
}

.workdays {
  background-color: #eff7ff;
  color: #000;
  font-weight: 600;
  color: #494949;
}

.dayRow:hover,
.workdays:hover,
.workhours:hover {
  background-color: #fafafa;
}

.ContactsInfoWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

@media screen and (max-width: 350px) {
  .ContactsInfoWrapper {
    flex-wrap: wrap;
  }
}

.tableHead {
  font-size: 1.2rem;
}
.ContactsInfo {
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 0.4375rem 1.6875rem 0.1875rem rgba(31, 105, 179, 0.05);
  /* margin-bottom: 1rem; */
}
.ContactsInfo:not(:last-child) {
  margin-right: 0.65rem;
}
.ContactsInfo:not(:first-child) {
  margin-left: 0.65rem;
}

.ContactsInfoHead {
  font-size: 1.2rem;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-left: 1rem;
}

.ContactsInfoContent {
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-left: 1rem;
}

.facebookWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.facebookItem {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 16px;
  color: #a3a3a3;
}
.facebookItem:hover {
  color: #096dd9;
}
.adresses {
  padding-left: 1rem;
}
.adresses div {
  margin-top: -10px;
}

.tableRow {
  background-color: #eaf0f6;
}
.tableRowTitle {
  background: #eaf0f6;
  color: #494949;
  font-family: Open Sans, Helvetica Neue, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.firstCell {
  padding-left: 60px;
}

.number {
  margin-left: -40px;
  padding-left: 5px;
  margin-right: 25px;
}

.adminTable,
.partnersTable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 1rem;
  box-shadow: 0 0.4375rem 1.6875rem 0.1875rem rgba(31, 105, 179, 0.05);
}

.partnerBlock {
  margin: 1rem 0;
  background-color: #ffffff;
  box-shadow: 0 0.4375rem 1.6875rem 0.1875rem rgba(31, 105, 179, 0.05);
}

.turnoverContainer {
  margin-top: 1rem;
}

.turnoverLast {
  font-size: 1.2rem;
  padding: 1rem 0 1rem 1rem;
  font-weight: 700;
  color: #2083be;
}

.NoData {
  text-align: center;
  font-weight: 700;
  letter-spacing: 1.5;
  font-size: 1.5rem;
  color: #c3c3c3;
}

.loading {
  /* width: 100vh; */
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    rgba(31, 105, 179, 0.051), 
    rgba(31, 105, 179, 0.158) #1f69b328
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 100px;
  height: 100px;
  border: 5px solid;
  border-color: #00d9ff transparent #00d9ff transparent;
  border-radius: 50%;
  animation: load 1s linear infinite;
}

@keyframes load {
  to {
    transform: rotate(360deg);
  }
}
